.banner { 
    width: 100%; height:auto; float:left;  @include fCC();  
    img { width:100%; }
}




 @media only screen and (max-width:1681px) 
 {
 
 }
 

 @media only screen and (max-width:1565px) 
 {
     
    
}



@media only screen and (max-width:1255px) 
{

 
}


@media only screen and (max-width:479px) 
{
     
}