.footer { 
    width: 100%; float:left; padding: 3rem 0;  background-color:$blk1;
    .footersocial {
        width: 100%; float:left; padding:0 0 2.5rem 0; 
        a {
            text-decoration: none; cursor: pointer; margin: 0 2rem 0 0;
            i {
                color:$wht1; font-size: 36px; font-weight: normal; @include inT();
                &:hover{ color:$blu1; @include outT(); }
            }
            img {
                width: 36px; border: 0;
            }
        }
    }
    .footercontainer {
        width: 100%; float:left; @include fBS();
        .footerbox { 
            width: 48%; float:left; @include fBS(); flex-wrap: wrap;
            &.footerbox2 { width: auto; float: right;}
            dl {
                width: 48%; float: left; 
                dt { 
                    margin-bottom: 1.5rem; width: 100%; float:left; color:$wht1; font-size: 1.3rem; font-weight: 500;
                    a{
                        font-size: 1.1rem; display: block; color:$wht1; text-decoration: none; @include inT();
                        &:hover {  color:$blu1; @include outT(); }
                    }
                }
                dd { width: 100%; float:left; color:$blk8; font-size: 1.2rem; line-height: 1.4; font-weight: 300; }
            }
            h2 { width: 100%; float:left; margin-bottom: 2.5rem; width: 100%; float:left; color:$wht1; font-size: 1.3rem; font-weight: 500; }
            ul {
                width: 48%; float: left;
                li { 
                    list-style: none; margin: 0 0 0.5rem 0;
                    a{
                        text-decoration: none; color:$blk8; font-size: 1.2rem; line-height: 1.4; @include inT(); font-weight: 300;
                        &:hover {  color:$blu1; @include outT(); }
                    }
                }
            }
        }
    }
}


 
 

@media only screen and (max-width:1565px) 
{
    .footer { 
        padding: 2.5rem 0;  
        .footersocial {
            padding:0 0 2rem 0; 
            a {
                margin: 0 1rem 0 0;
                i {font-size: 32px;}
                img {width: 30px; }
            }
        }
        .footercontainer {
            .footerbox { 
                &.footerbox2 { width: 40%;}
                dl {
                    width: 46%;
                    dt { 
                        margin-bottom: 1.2rem; font-size: 1.2rem; 
                        a { font-size: 1rem; }
                    }
                    dd { font-size: 1rem; line-height: 1.3;  }
                }
                h2 { margin-bottom: 2.2rem;  font-size: 1.2rem; }
                ul {
                    li { 
                        margin: 0 0 0.4rem 0;
                        a{ font-size: 1rem; line-height: 1.3; }
                    }
                }
            }
        }
    } 
}



@media only screen and (max-width:1023px) 
{
    .footer { 
        padding: 2rem 0;  
        .footersocial {
            padding:0 0 2rem 0; 
            a {
                margin: 0 1rem 0 0;
                i { font-size: 27px; }
                img { width: 27px; }
            }
        }
        .footercontainer {
            flex-wrap: wrap;
            .footerbox { 
                width: 100%;
                &.footerbox2 { width: 100%;}
                dl {
                    width: 46%;
                    dt { 
                        margin-bottom: 1rem; font-size: 1rem; line-break: anywhere;
                        a { font-size: 0.9rem; }
                    }
                    dd { font-size:0.9rem; line-height: 1.2;  }
                }
                h2 { margin: 2rem 0 1rem 0; font-size: 1rem; }
                ul {
                    li { 
                        margin: 0 0 0.3rem 0;
                        a{ font-size:0.9rem; line-height: 1.2; }
                    }
                }
            }
        }
    } 
 
}


@media only screen and (max-width:479px) 
{
     
}