.header { 
    position: relative; width: 100%; float:left;  @include fCC();  flex-wrap: wrap;
    .wrapper {  height: 100px;  @include fBC(); }
    .logo { 
        max-width:161px; 
        img { width:100%; }
    }
    .headerMenu {
        cursor:pointer;position:relative;float:right;display:none;
        span {
            position:absolute;width:100%;height:2px;background:#000;border-radius:2px;
        }
        &.open {
            width:28px;height:17px;
            span{
                right:0; 
                &:nth-of-type(1){top:0 }
                &:nth-of-type(2){top:7px; }
                &:nth-of-type(3){top:14px; }
            }
        }
        &.close{
            width:22px;height:22px;
            span{
                top:50%; 
                &:nth-of-type(1){left:0;transform:rotate(45deg)}
                &:nth-of-type(2){display:none}
                &:nth-of-type(3){right:0;transform:rotate(-45deg)}
            }
        }
    }
 
 
    .headerNavigation { 
        width: calc(100% - 170px); height:auto; float: right; padding:0; @include fEC();
        ul {
            width: calc(100% - 52px); float: right; text-align: right;
            li {
                display: inline-block; list-style: none; margin: 0 2rem;
                a {
                    font-size: 1.4rem; cursor: pointer; text-decoration: none; color: $blk6; @include inT(); 
                    &:hover { color: $blu1; @include outT(); }
                    &.activemenu { font-weight: 600; color: $blk1;  pointer-events: none; user-select: none; }
                }
                span {
                    padding:0.3rem 0.8rem; cursor: pointer;  @include outT();  font-size: 1.8rem; line-height: 1; color: $blk6;
                    &:after { content: "\f107"; font-family:'FontAwesome';   }
                    i.fa { line-height: 1; }
                    &:hover {  
                         @include inT(); color: $blu1; 
                    }
                    &.workmenuactive { 
                        @include inT(); color: $blu1; 
                        &:after { content: "\f106";  }
                    }
                }

 
                
            }
        }
        .headerSearch {
            width: 20px; margin-left: 2rem; float: right; text-align: right; font-size: 1.5rem; cursor: pointer; color: $blk6; @include inT(); 
            span { display: none; }
            &:hover { color: $blu1; @include outT(); }
        }
    }

 
}


@media only screen and (max-width:1681px) 
{
 

}

@media only screen and (max-width:1565px) 
{
    .header { 
        .logo { max-width:150px; }
        .headerNavigation { 
            width: calc(100% - 170px);
            ul {
                width: calc(100% - 52px); 
                li {
                    margin: 0 1.5rem;
                    a {font-size: 1.2rem; }
                    span {padding:0.2rem 0.6rem; font-size: 1.5rem;  }

 

                }
            }
            .headerSearch { margin-left: 1rem;  font-size: 1.2rem;  }
        }
        
    }  
}



@media only screen and (max-width:1023px) 
{
    .header { 
        .wrapper {  height: 60px;   }
        .logo { max-width:125px; }
        .headerMenu {
            display:block; width:30px;height:17px;
            span {
                position:absolute;right:0;  width:100%;height:2px;background:#000;border-radius:2px;
                &:nth-of-type(1){top:0 }
                &:nth-of-type(2){top:7px; }
                &:nth-of-type(3){top:14px; }
            }
            &.close{
                width:22px;height:22px;
                span{
                    top:50%; 
                    &:nth-of-type(1){left:0;transform:rotate(45deg)}
                    &:nth-of-type(2){display:none}
                    &:nth-of-type(3){right:0;transform:rotate(-45deg)}
                }
            }
        }
     
     
        .headerNavigation { 
             width:100%; display:none; position: absolute; top: 60px; left: 0; background-color: $wht1; padding:0 2%; box-shadow: 0 30px 30px -5px rgba(0,0,0,0.5);
            ul {
                width:100%; 
                li {
                    width: 100%; float: left; margin: 0; border-top: solid 1px $blk6;text-align: left;        
                    a { padding:1.5rem 1rem; float: left;width:100%;}
                    span {padding:0.3rem 0.8rem;  }
                }
            }
            .headerSearch {
                border-top: solid 1px $blk8; display:block; width: 100%; float: left;margin:0; padding: 1rem; @include fBC(); font-style: normal;
                span { display: block; }
            }
        }
    
     
    }
 
}


@media only screen and (max-width:479px) 
{
     
}