.header { 
    position: relative; width: 100%; float:left;  @include fCC();  flex-wrap: wrap;
    .wrapper {  height: 100px;  @include fBC(); }
    aside { 
        max-width:161px; 
        img { width:100%; }
    }
    nav { 
        width: calc(100% - 170px); height:auto; float: right; padding:0; @include fEC();
        ul {
            width: calc(100% - 52px); float: right; text-align: right;
            li {
                display: inline-block; list-style: none; margin: 0 2rem;
                a {
                    font-size: 1.4rem; cursor: pointer; text-decoration: none; color: $blk6; @include inT(); 
                    &:hover { color: $blu1; @include outT(); }
                    &.activemenu { font-weight: 600; color: $blk1;  pointer-events: none; user-select: none; }
                }
                span {
                    padding:0.3rem 0.8rem; cursor: pointer;  @include outT();  font-size: 1.8rem; line-height: 1; color: $blk6;
                    &:after { content: "\f107"; font-family:'FontAwesome';   }
                    i.fa { line-height: 1; }
                    &:hover {  
                         @include inT(); color: $blu1; 
                    }
                    &.workmenuactive { 
                        @include inT(); color: $blu1; 
                        &:after { content: "\f106";  }
                    }
                }
            }
        }
        em {
            width: 20px; margin-left: 2rem; float: right; text-align: right; font-size: 1.5rem; cursor: pointer; color: $blk6; @include inT(); 
            &:hover { color: $blu1; @include outT(); }
        }
    }

    .headercontainer { 
        display:none; z-index: 2; position: absolute; top:100%; left: 50%; transform: translateX(-50%); width: 100%; max-width:1920px; margin: 0 auto;  padding:2rem 2%; background: $wht1; box-sizing: border-box; border: 0; border-top: solid 1px $wht3;
        ul {
            float: none; width: 100%; max-width:1600px; margin: 0 auto; @include fBC();
            li{
                list-style: none; display: inline-block; margin: 0 1rem 0 0; font-size:1.8rem; color: $blk6; line-height: 1.4; 
                &:first-child {
                    @include fSC();
                    em { font-weight: 500; font-style: normal; }
                    span { margin-left: 3rem; float: left; width: 60px; height: 2px; background-color: $blk6; line-height: 0; font-size: 0; }
                }

                a {
                    cursor: pointer; text-decoration: none; color: $blk6; @include inT(); 
                    &:hover { color: $blu1; @include outT(); }
                    &.workactive { color: $blk1; }
                }
            }
        }
    }
}


 

@media only screen and (max-width:1565px) 
{
    .header { 
        aside { max-width:150px; }
        nav { 
            width: calc(100% - 170px);
            ul {
                width: calc(100% - 52px); 
                li {
                    margin: 0 1.5rem;
                    a {font-size: 1.2rem; }
                    span {padding:0.2rem 0.6rem; font-size: 1.5rem;  }
                }
            }
            em { width: 20px; margin-left: 2rem;  font-size: 1.3rem; }
        }
        .headercontainer { 
            ul {
                li{
                    margin: 0 1rem 0 0; font-size:1.3rem; line-height: 1.3; 
                    &:first-child {
                        span { margin-left: 2.5rem; width: 50px;  }
                    }
                }
            }
        }
    }  
}



@media only screen and (max-width:1255px) 
{

 
}


@media only screen and (max-width:479px) 
{
     
}