  
.aboutwrap {
    width: 100%; float:left; padding:2rem 0 5rem 0;  @include fCS();  
    

    .abouttext {
        width: 100%; float:left; padding:0 0 4rem 0;  
        .wrapper { max-width: 1000px; }
        h2 {
            font-size: 3.5rem; color: $blk1; line-height: 1.4; 
            span { color: $blu1; }
        }
        p {
           margin-top: 2rem;  font-size: 1.4rem; color: $blk1; line-height: 1.4; 
        }
    }

    .aboutportfolio {
        width: 100%; float:left; padding:0 0 4rem 0; display: grid; gap:3rem; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(1, 1fr);  
        .ap_left {
            width: 100%; float:left; 
            img { width: 100%; }
        }
        .ap_right {
            width: 100%; float:left; 
            h2 {
                font-size: 2.5rem; color: $blk1; line-height: 1.4; font-weight: 700;
            }
            h3 {
                margin:0.5rem 0 1rem 0;   font-size: 1.8rem; color: $blk1; line-height: 1.4; font-weight: 600;
            }
            p {
                font-size: 1.4rem; color: $blk1; line-height: 1.4; 
            }
        }
    }

    .aboutbrand {
        width: 100%; float:left; padding:3rem 0 4rem 0; border-top: solid 2px $blk1; 
        h2 {width: 100%; float:left; padding:0;  font-size:2.2rem; color: $blk1; line-height: 1.4; }
        p {width: 100%; float:left;  margin:1rem 0 2rem 0;  font-size: 1.4rem; color: $blk1; line-height: 1.4; }
        ul {
            width: 100%; float:left; display: grid; gap: 1rem; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(4, 1fr);
            li {
                list-style: none; text-align: center; margin: 0;
                img { display: inline-block; width: 100%; max-width: 270px; margin: 0 auto; }
            }
        }
    }

    .aboutservices {
        width: 100%; float:left; padding:3rem 0 4rem 0; border-top: solid 2px $blk1;  
        h2 {width: 100%; float:left;  font-size:2.2rem; color: $blk1; line-height: 1.4; }
        h6 {
            width: 100%; float:left; padding:0.5rem 0 3rem 0; font-size:1.1rem; color: $blk3; line-height: 1.3; font-weight: 500; 
            span { color: $blu1; }
        }
        ul {
            width: 100%; float:left; display: grid; gap:2rem; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr);
            li {
                list-style: none;  margin: 0;
                h3 {width: 100%; float:left; padding:0 0 1rem 0;  font-size:1.4rem; color: $blk1;  }
                p {width: 100%; float:left;  font-size:1.1rem; color: $blk3; line-height: 1.3; }
            }
            &.as_list {
                grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(1, 1fr);
            }
        }
    }

}





@media only screen and (max-width:1565px) 
{

    .aboutwrap {
         padding:1rem 0 4rem 0; 
        

        .abouttext {
            padding:0 0 3rem 0;  
            h2 {font-size: 2.4rem;  line-height: 1.3; }
            p {margin-top: 1.5rem;  font-size: 1.2rem;  line-height: 1.3; }
        }

        .aboutportfolio {
             padding:0 0 3rem 0; 
            .ap_right {
                h2 {font-size: 2.2rem; }
                h3 {font-size: 1.4rem; }
                p { font-size: 1.2rem; line-height: 1.2; }
            }
        }

        .aboutbrand {
            padding:2rem 0 3rem 0;  
            h2 {  font-size:2rem;  line-height: 1.3; }
            p {margin:1rem 0 1.5rem 0;  font-size: 1.2rem; line-height: 1.2; }
            ul {
                li {
                    img { max-width: 230px;  }
                }
            }
        }

        .aboutservices {
            padding:2rem 0 3rem 0;  
            h2 {  font-size:2rem; line-height: 1.3; }
            h6 { padding:0.5rem 0 2.5rem 0;  font-size:1rem;  }
            ul {
                li {
                    h3 {  font-size:1.2rem;  }
                    p { font-size:1rem;  }
                }
            }
        }

    }
    

}



@media only screen and (max-width:1023px) 
{

    .aboutwrap {
         padding:1rem 0 3rem 0; 
        

        .abouttext {
            padding:0 0 3rem 0;  
            .wrapper { width: 100%;}
            h2 {font-size: 1.5rem; }
            p {margin-top: 1rem;  font-size: 0.9rem;   }
        }

        .aboutportfolio {
             padding:0 0 3rem 0; gap:1rem;
            .ap_right {
                h2 {font-size: 1.6rem; }
                h3 {font-size: 1.1rem; }
                p { font-size: 0.9rem;  }
            }
        }

        .aboutbrand {
            padding:2rem 0 2rem 0;  border-top-width: 1px;
            h2 {   font-size:1.6rem;  }
            p { margin:0.7rem 0 1.5rem 0; font-size: 0.9rem;  }
            ul {
                li {
                    img { max-width: 200px;  }
                }
            }
        }

        .aboutservices {
            padding:2rem 0 3rem 0;  border-top-width: 1px;
            h2 {   font-size:1.6rem;  }
            h6 {  padding:0.5rem 0 2rem 0;  font-size:0.9rem;  }
            ul {
                gap: 1.5rem; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(3, 1fr);
                li {
                    h3 { padding: 0 0 0.5rem 0; font-size:1.1rem;  }
                    p { font-size:0.9rem;  }
                }
            }
        }

    }
    

}




@media only screen and (max-width:479px) 
{

    .aboutwrap {
         padding:1rem 0 3rem 0; 
        

        .abouttext {
            padding:0 0 3rem 0;  
        }

        .aboutportfolio {
             padding:0 0 3rem 0; gap:1rem; grid-template-columns: repeat(1, 1fr);
            .ap_right {
                margin-top:0.5rem;
            }
        }

        .aboutbrand {
            padding:2rem 0 2rem 0; 
            ul {
                gap:0.3rem; grid-template-columns: repeat(2, 1fr);
                li {
                    img { max-width: 150px;  }
                }
            }
        }

        .aboutservices {
            padding:2rem 0 0 0;
            ul {
                gap: 1rem; grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(1, 1fr); 
            }
        }

    }
    

}