$blk1 : #000000;
$blk2 : #222222;
$blk3 : #444444;
$blk4 : #666666;
$blk5 : #888888;
$blk6 : #A0A0A0;
$blk7 : #C0C0C0;
$blk8 : #E0E0E0;
$blk9 : #808080;

$blu1 : #4242FF;
$blu2 : #070769;
 
$wht1 : #FFFFFF;
$wht2 : #FEFEFE;
$wht3 : #dedede;
 
$red1 : #DB0303;