/* ############### bannerhome ############### */
.bannerhome { 
    width: 100%; float:left;  @include fCS();  
    img { width:100%; }
}


/* ############### hometext ############### */
.hometext {
    width: 100%; float:left; padding:5rem 0;  @include fCS();  
    .wrapper { max-width:1000px; }
    p {
        font-size: 3.5rem; color: $blk1; line-height: 1.4; 
        span { text-decoration: underline; color: $blu1; }
    }
}


/* ############### homework ############### */
.homework { 
    width: 100%; float:left; padding:0 0 5rem 0;  @include fCS();  
    h1 { margin: 0 0 2rem 0; font-size: 3.4rem; color: $blu1; font-weight: 700; }
    img { width: 100%;  }
    h2 { margin: 1.5rem 0 1rem 0; font-size: 2rem; color: $blk1;  font-weight: 600; }
    p { font-size: 1.2rem; color: $blk9; line-height: 1.4; font-weight: 400; }
    
    .hworkgrid {  
        display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows:repeat(2,100px, min-content); gap:2rem;  
        .hw_box1 { grid-column: span 2 / span 2; grid-row-start: 1; }
        .hw_box3 { grid-column-start: 1; grid-row-start: 2; }
        .hw_box4 { grid-column-start: 2; grid-row-start: 2; }
         div {  
            height: auto; 
            article {
                width: 100%; float:left; 
                &.margintop { margin-top: 2rem; }
            }
        }
    }
}





@media only screen and (max-width:1565px) 
{
    /* ############### hometext ############### */
    .hometext {
        padding:4rem 0;  
        .wrapper { max-width:900px; }
        p { font-size:2.5rem; line-height: 1.3; }
    }


    /* ############### homework ############### */
    .homework { 
         padding:0 0 4rem 0;  
        h1 { margin: 0 0 2rem 0; font-size:2.5rem; }
        h2 { margin: 1.5rem 0 1rem 0; font-size:1.6rem; }
        p { font-size: 1rem;  line-height: 1.2;  }

    }

}
    
@media only screen and (max-width:1255px) 
{

}
@media only screen and (max-width:1023px) 
{

}
@media only screen and (max-width:767px) 
{
    
}
@media only screen and (max-width:599px) 
{
    
}
@media only screen and (max-width:479px) 
{
    
}